@import "./base.scss";

body {
  display: flex;
  justify-content: end;
  align-items: center;
}

main {
  @include glass(rgba(200, 200, 200, 0.329), 0.7, 0.5);
  width: 30vw;
  height: 100vh;
  // border-radius: 1rem;
  form {
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-top: 10vh;
    span {
      display: block;
      font-size: xx-large;
      font-weight: bold;
      display: block;
      color: brown;
      margin-bottom: 5vh;
    }
    input[type="email"],
    input[type="password"] {
      padding: 0.75rem;
      outline: none;
      display: block;
      margin: 0.3rem;
      margin-bottom: 1rem;
      border: none;
      width: 80%;
      border-radius: 0.2rem;
      background-color: transparent;
      border-bottom: 3px solid hsl(28, 26%, 70%);
      background-color: hsl(28, 26%, 80%);
      &:focus {
        border-color: hsl(28, 31%, 35%);
      }
    }
    .error {
      color: red;
      margin-bottom: 1rem;
      text-align: center;
      font-size: small;
    }
    button {
      padding: 0.5rem;
      background-color: #a48769;
      color: #fff;
      border: none;
      cursor: pointer;
      border-radius: 0.25rem;
      &:hover,
      &:active,
      &:focus {
        background-color: hsl(31, 24%, 40%);
      }
    }
  }
}
